p, li {
	line-height: 1.8em;

}

p {
	padding-bottom: 30px;
}

.container {
	padding: 88px 0;
}

.btn {
	border-radius: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 40px auto;
	display: block;
}

.box {
	display: block;
    width: 55px;
    background-repeat: no-repeat;
    height: 55px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.box-one {
	background: url('../images/one_box.png');
}

.box-two {
	background: url('../images/box_two.png');
}

.box-three {
	background: url('../images/box_three.png');
}

.i-one {
	background: url('../images/box_one_dark.png');
}

.i-two {
	background: url('../images/box_two_dark.png');
}

.i-three {
	background: url('../images/box_three_dark.png');
}



header {
	.container {
		padding: 0;
	}

	background-color: @dark-bg;

	h1 {
		font-family: @font-family-accent;
		color: @light-text-color;

	}

	nav {
		ul {
			margin: 0;
			margin-left: 215px;
			padding: 0;


			li {
				list-style-type: none;
				float: left;
				a {
					display: block;
					padding: 30px;
					color: #fff;
					text-transform: uppercase;
					&:hover {
						text-decoration: none;
						color: @brand-primary;
					}
				}
			}
		}


	}

}



#hero {
	background-color: @body-bg;

	h1 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 28px;
		text-align: center;
	}

	h2 {
		font-family: @font-family-titles;
		font-size: 19px;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 50px;
	}

	p {
		font-family: @font-family-text;
	}
}

#intro-text {
	background-color: @dark-bg;
	
	p {
		font-family: @font-family-text;
		color: @light-text-color;
	}

	h3 {
		font-family: @font-family-text;
		color: @light-text-color;
		font-size: 17px;
		text-align: center;
		text-transform: uppercase;
		padding: 40px 0;
	}

	p.lead {
		font-family: @font-family-text;
		color: @light-text-color;
		font-weight: bold;
		font-size: 17px;
	}

	a {
			text-decoration: none;
			&:hover {
				color: @brand-primary;
			}
		}
	.one, .two, .three {
		display: block;
		color: @light-text-color;
		text-transform: uppercase;
		text-align: center;


	}

}

#installation {
	background-color: @darker-bg;

	h1 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 21px;
		text-align: center;
		margin-bottom: 50px;
	}

	h3 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 23px;
		text-transform: uppercase;
	}
}

#plugins {
	background-color: #fff;

	h1 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 21px;
		text-align: center;
	}

	h2 {
		font-family: @font-family-accent;
		color: @text-color;
		font-size: 25px;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 50px;
	}

	h3 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 23px;
		text-transform: uppercase;
	}

	h4 {
		padding: 88px 0;
		font-family: @font-family-accent;
		color: lighten(@text-color, 20%);
		font-size: 25px;
		text-align: center;
	}
}

#custom {
	background-color: @darker-bg;

	h1 {
		font-family: @font-family-titles;
		color: @text-color;
		font-size: 21px;
		text-align: center;
		margin-bottom: 50px;
	}

}

footer {
	background-color: @brand-primary;
	color: @light-text-color;

	h1 {
		font-family: @font-family-titles;
		font-size: 21px;
		text-align: center;
	}

	h2 {
		font-family: @font-family-accent;
		color: @light-text-color;
		font-size: 25px;
		text-align: center;
	}

	.copy {
		text-align: center;
		padding-bottom: 10px;
	}

}